
{% extends 'coreapp/base.html' %}

  {% block content %}
<div class="container mt-5">

<h2>Рекомендуемые статьи</h2>
<form action="" method="get">
<select name="filter_by" id="">
  <option value="up" {% if user_filter_status == 'up' %} selected {% endif %}>по возрастанию</option>
  <option value="down" {% if user_filter_status == 'down' %} selected {% endif %} >по убыванию</option>
  <input type="submit" value="отфильтровать">
</select>
</form>
<br>
{% autoescape off %}
  {% for i in data %}
  {% if i.published %}
  <div class="card mb-3">
    {% if i.image %}
    <img src="{{ i.image.url }}" class="card-img-top" alt="картинка" >
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ i.title }}</h5>
      <p class="card-text">{{ i.memo }}</p>
      <a href="{% url 'newsapp:item' i.id %}" class="btn btn-info">читать</a>
    </div>
  </div>
  {% endif %}
  
  


  {% endfor %}
</div>
{% endautoescape %}
  {% endblock %}