{% extends 'coreapp/base.html' %}

  {% block content %}
  <div class="container mt-3">
    <h2>
      {{ parrentobj.title }}
    </h2>
<small class="text-muted">автор: {{ parrentobj.author }}</small>
<br>
<small class="text-muted"> просмотры: {{ countofviews }}</small>
{%  for j in tags %}
<small class="text-muted">{{ j.name }}</small>
{% endfor %}
{% for i in childobject %}
<h3>
  {{ i.title }}
</h3>
<p>{{ i.memo }}</p>

{% if i.image %}
<img src="{{ i.image.url }}" alt="картинка">
{% endif %}
{% endfor %} 

<br> 



{% if parrentobj.author == user %}
<a href="{% url 'newsapp:open_item_in_author_mode' parrentobj.id %}"><b>Раскрыть</b></a>
{% endif %}

</div>

  {% endblock %}