@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  font-family: 'Roboto', sans-serif;
 
  margin: 0 0 0 0 ;
}
a{
  text-decoration: none;
  color: rgb(14, 5, 5);
}
.my-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  margin : 0;
  padding: 0;
  background-color: #486f92;
  font-size: 18px;
}
.conatainer{
  display: flex;
  flex-direction: colummn;
}
.simple-elem{
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-left: 5%;
  margin-right: 5%;
}